<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.dao.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.yang.entity.AnswerInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="utime" property="utime" jdbcType="TIMESTAMP" />
    <result column="infoid" property="infoId" jdbcType="BIGINT" />
    <result column="protagonists" property="protagonists" jdbcType="VARCHAR" />
    <result column="pubtime" property="pubTime" jdbcType="TIMESTAMP" />
    <result column="director" property="director" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, ctime, utime,infoId,protagonists,pubTime,director
</sql>
  <select id="selectRankInfos" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT
    <include refid="Base_Column_List" />
    FROM `dialogue_answer`WHERE id >= (SELECT CEIL(RAND() * (SELECT MAX(id) FROM `dialogue_answer`))) -#{num}+1
   ORDER BY id LIMIT #{num};
  </select>
  <select id="selectInfos" resultMap="BaseResultMap" parameterType="java.util.List" >
    SELECT
    <include refid="Base_Column_List" />
    FROM `dialogue_answer`WHERE id in (#{ids});
  </select>
</mapper>