<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.dao.DialogueInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yang.entity.DialogueInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="utime" property="utime" jdbcType="TIMESTAMP" />
    <result column="a_id" property="aId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    t1.id, t1.content, t1.ctime, t1.utime,t1.a_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from `dialogue_info`
    where id = #{dId,jdbcType=BIGINT}
  </select>
  <select id="selectRankInfos" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT
    <include refid="Base_Column_List" />
    FROM `dialogue_info` AS t1 JOIN (SELECT ROUND(RAND() * (SELECT MAX(id) FROM `dialogue_info`)-#{num}) AS id) AS t2 WHERE t1.id >= t2.id
    ORDER BY t1.id ASC LIMIT #{num};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `dialogue_info`
    where id = #{dId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yang.entity.DialogueInfo" >
    insert into `dialogue_info` (id, content, ctime,
      utime)
    values (#{dId,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{utime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yang.entity.DialogueInfo" >
    insert into `dialogue_info`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="utime != null" >
        utime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        #{utime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yang.entity.DialogueInfo" >
    update `dialogue_info`
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null" >
        utime = #{utime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{dId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yang.entity.DialogueInfo" >
    update `dialogue_info`
    set content = #{content,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP}
    where id = #{dId,jdbcType=BIGINT}
  </update>
</mapper>