<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.yang.entity.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="avatarUrl" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="ctime" property="cTime" jdbcType="TIMESTAMP" />
    <result column="utime" property="uTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="BIGINT" />
    <result column="lastScore" property="lastScore" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    `user`.id, `user`.nickName, `user`.gender, `user`.language,`user`.city,`user`.province,`user`.country,`user`.avatarUrl,
    `user`.cTime,`user`.utime,`user`.score,`user`.lastScore
</sql>
  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.yang.entity.UserInfo">
    INSERT INTO `user`(
    `nickName`,`gender`,`language`,`city`,`province`,`country`,`avatarUrl`,`ctime`,`utime`,`score`,`lastScore`
    )values (
        #{nickName}, #{gender}, #{language}, #{city}, #{province}, #{country}, #{avatarUrl},#{cTime},#{uTime},#{score},#{lastScore}
    )
  </insert>
  <select id="getUser" parameterType="java.lang.String" resultMap="BaseResultMap" >
      SELECT
      <include refid="Base_Column_List" />
      FROM `user` where nickName =#{nickName,jdbcType=VARCHAR};
  </select>
  <!--update -->
  <update id="updateUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.yang.entity.UserInfo" >
    update `user`
    set `score` = #{score,jdbcType=BIGINT},
      `utime` = #{uTime,jdbcType=TIMESTAMP},
      `lastScore` = #{lastScore,jdbcType=BIGINT}
    where `nickName` = #{nickName,jdbcType=VARCHAR}
  </update>
  <select id="getUsers" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM `user`  ORDER BY score DESC LIMIT #{score,jdbcType=INTEGER};
  </select>
</mapper>